@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);

  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.2);
}

.image-date {
  display: flex;
  position: relative;
}

.image-date > .card-date {
  background: #f4f4f4;
  color: #184269;
  position: absolute;
  left: 4%;
  bottom: 5%;
  padding: 3px 13px;
  border-radius: 2px;
}
